* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary--color: #A33B54;
    --light--color: #f4f4f6;
    --dark--color: #111;
    --secondary--color: #3A4664;

}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: white;
    line-height: 1.5;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/*NAV BAR*/
.nav-bar {
    background: white;
    padding: 20px;
    border-bottom: 1px var(--secondary--color) solid;
}

.nav-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-bar .logo {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: 2px var(--secondary--color) solid;
}

.nav-bar .menu ul {
    display: flex;
    align-items: center;
}

.nav-bar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
} 

.nav-bar ul li a:hover {
    color: var(--secondary--color)
}

.nav-bar ul li a i {
    margin-right: 10px;
}

.nav-bar ul li:last-child {
    margin-left: 20px; 
}

.nav-bar .menu-help-i {
    cursor: pointer; 
    font-size: 25px; 
    color: var(--secondary--color);
}

/*HERO*/
.hero {
    margin-bottom: 20px;
}
.hero .hero-buttons:last-child i {
    margin-right: 10px;
}

.hero .hero-content {
    width: 70%;
}

.hero .hero-text {
    width: 70%;
    margin-bottom: 20px;
}

/*COURSES*/
.cour {
    padding-bottom: 50px;
    padding-top: 20px;
}

.cour-heading {
    padding-bottom: 20px;
}

.cour-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50%;
    gap: 30px;
}

.cour-info-heading {
    margin-bottom: 15px; 
    text-align: center;
}

.cour-info i {
    margin-right: 10px;
}
.cour-info-drop {
    margin-top: 10px; 
    margin-bottom: 20px;
}

.cour-info-overview {
    font-weight: 600; 
    margin-bottom: 20px;
}

.cour-info ul {
    margin-left: 20px; 
    list-style-type: square;
}

.cour-info ul li {
    margin-bottom: 20px;
}

.cour-info .btn-view-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*TESTIMONIALS*/
.testimonials {
    padding: 40px 0;
}

.testimonials .testimonials-heading {
    margin-bottom: 40px;
}

.testimonials .testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.testimonials .card {
    background: var(--light--color);
    border: 2px var(--secondary--color) solid; 
    border-left: none; 
    box-shadow: 2px 0 15px rgba(58, 70, 100, 0.7);
}

.testimonials .card p:nth-child(2) {
    margin-top: 30px;
    font-weight: bold;
}

/*Pricing*/

.pricing {
    margin-bottom: 40px;
}
.pricing .pricing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    gap: 30px;
}
.pricing .pricing-card-subheading {
    margin-bottom: 30px;
}

.pricing .pricing-card-price {
    padding: 20px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc; 
}

.pricing ul {
    margin: 30px 0;
}

.pricing ul li {
    margin-bottom: 20px;
}

.pricing ul li i {
    margin-right: 10px;
}

.pricing .pricing-footer {
    margin: 30px 0;
}

/*FAQ*/
.faq {
    padding: 20px 0;
}

.faq .faq-group {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.faq .faq-group .faq-group-header {
    padding: 20px 0;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
}

.faq .faq-group .faq-group-header h4 {
    width: 95%;
    font-weight: 600;
}

.faq .faq-group .faq-group-header i {
    position: absolute;
    right: 0;
    top: 39px;
    font-size: 1.3rem;
    cursor: pointer;
}

.faq .faq-group .faq-group-body {
    display: none;
}

.faq .faq-group .faq-group-body.open {
    display: block;
}

.faq ul.faq-menu {
    max-width: 260px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.faq ul.faq-menu li {
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

.faq ul.faq-menu li.active {
    background: var(--secondary--color);
    color: white;
}

.footer {
    padding: 20px 0;
}

.footer h4 {
    margin-bottom: 10px;
}

.footer ul li {
    line-height: 2.5;
}

.footer a {
    color: #ccc;
}

.footer i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.footer .logo {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: 2px var(--secondary--color) solid;
}

.footer .footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.footer .card {
    margin: 20px 30px 30px 0;
}

.footer input[type='email'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
}

/* Utility Classes */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;  
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;  
}

.card {
    background: white;
    color: black;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.01); 
}

/*BUTTONS*/
.btn {
    display: inline-block;
    padding: 13px 20px;
    background-color: var(--light--color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--primary--color);
    color: white;
}

.btn-secondary {
    background: var(--secondary--color);
    color: white;
}

.btn-dark {
    background: var(--dark--color);
    color: white;
}

.btn-block {
    display: block; 
    width: 100%;
}

/*TEXT*/
.text-xxl {
    font-size: 2.8rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}

/*BACKGROUNDS*/
.bg-secondary {
    background: var(--secondary--color);
    color: white;
}

.bg-light {
    background: var(--light--color);
    color: #333;
}

.bg-white {
    background: #EBECF0;
    color: #111;
}

.bg-dark {
    background: var(--dark--color);
    color: white;
}

.bg-grey {
    background: #363d3d;
    color: white;
}


/*MOBILE*/
.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background: #333;
    margin: 6px 0;
}

.hamburger-button.fixed {
    position: fixed; 
    top: 20px; 
    left: 350px; 
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition: right 0.5 ease-in-out;
}

.mobile-menu ul {
    margin-top: 80px;
    padding-right: 10px;
}

.mobile-menu ul li {
    margin: 10px 0;
    text-align: end;
}

.moblie-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
}

.mobile-menu .btn {
    text-align: end;
}

.mobile-menu.active {
    right: 0;
}

#line {
    background-color: #111;
    z-index: 1000;
    height: 2px; 
    border: none; 
    top: 75px;
    margin: auto;
    width: 75%;
    transition: 0.5s;
    position: relative;
    
}

/*MEDIA QUERIES*/
@media(max-width: 960px) {
    .text-xxl {
        font-size: 2.5rem;
    }
}

@media(max-width: 670px) {
    .nav-bar .menu {
        display: none;
    }
    .nav-bar .hamburger-button {
        display: block;
    }

    .hero .container {
        background: url('./images/hero-bg-mobile.png') no-repeat; 
        background-size: 350px 400px;
        background-position: bottom;
        height: 770px;
    }
    .hero .hero-content, .hero .hero-text {
        width: 100%;
        text-align: center;
    }

    .hero .hero-buttons .btn {
        margin-bottom: 10px;
        display: block;
        width: 100%;
    }

    .hero {
        margin-bottom: 5px;
    }
    .text-xl {
        font-size: 1.9rem;
    }

    .text-lg {
        font-size: 1.5rem;
    }

    .text-md {
        font-size: 1.1rem;
    }

    .cour {
        padding-top: 5px;
    }

    .cour .cour-heading {
        max-width: 100%;
        text-align: center;
    }

    .cour .cour-container, .testimonials .testimonials-grid, .pricing .pricing-grid, .footer .footer-grid{
        grid-template-columns: 1fr;
    }

    .testimonials .testimonials-heading {
        max-width: 100%;
        text-align: center;
    }

    .footer .card { 
        margin-right: 0;
    }

    .footer .footer-grid > div {
        text-align: center;
    }
}

@media(max-width: 500px) {
    .text-xxl {
        font-size: 2rem;
    }
    .text-lg {
        font-size: 1.2rem;
    }
    .cour {
        padding-top: 5px;
    }
}